/*user-details.html - блок з інфою про user зверху сторінки. Кнопка нижчє, на 90% ширини сторінки, по центру.*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body{
    max-width: 100%;
    margin: 0;
    background-image: url("png/background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.Baty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

h2,h3,p{
    color: white;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 17px;
}

.h212{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    margin: 0;
    color: bisque;
}

.divinformation{
    width: 30vw;
    height: 20vh;

    background: rgb(157,54,47);
    background: linear-gradient(90deg, rgba(157,54,47,1) 0%, rgba(157,111,47,0.9136904761904762) 46%, rgba(33,32,31,0.8632703081232493) 74%);
}

.divAddress{
    width: 30vw;
    height: 25vh;
}

.h3h3Address{
    margin: 0;
    font-size: 20px;
}

.divCompany{
    width: 40vw;
    height: 20vh;
    text-align: center;
}

.divCompany,.divAddress,.divinformation{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    background: rgb(157,54,47);
    background: linear-gradient(90deg, rgba(157,54,47,1) 0%, rgba(157,111,47,0.9136904761904762) 46%, rgba(33,32,31,0.8632703081232493) 74%);
}
.divButton{
    width: 100vw;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 30vw;
    height: 10vh;
    border-radius: 20px;
    font-size: 20px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 2px;
}
button:hover{
    background-color: cadetblue;
    transition: 0.5s;
}
.divBaty2{
    width: 100vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(5, 300px);
    justify-content: center;
    grid-gap: 10px;
}

.divPosts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px;

    width: 18vw;
    height: 20vh;
    text-align: center;

    background: rgb(31, 32, 33);
    background: linear-gradient(90deg, rgba(31, 32, 33, 0.9669117647058824) 0%, rgba(157, 111, 47, 0.9136904761904762) 100%);
}

a{
    text-decoration: none;
    font-size: 3vh;
    color: bisque;
}